<%include header%>

<div class="ChallengeBtn">
    <button type="button" class="btn btn-circle" style="background: url(/images/contract_icon.png); 
            background-color: #FF9800; 
            box-shadow: 4px 4px #444444;
            background-size: 220%;
            background-position-y: 45%;
            background-position-x: 45%;">
    </button>
</div>