<%include header%>

<div class="ChallengeBtn">
    <button type="button" class="btn btn-circle" 
        style="background: url(/images/contract_icon.png); 
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 80px;
            height: 80px;
            background-color: #FF9800; 
            box-shadow: 4px 4px #444444;
            background-size: 220%;
            background-position-y: 45%;
            background-position-x: 45%;">
    </button>
</div>